html, body{
    height: 100%;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
}
main{
    display: grid;
    grid-template-columns: 400px 1fr 400px;
}

.images{
    padding: 0;
    height: 100%;
    background: url('/public/img/sacha.webp') center/cover;
}
.image{
    padding: 0;
    height: 100%;
    background: url('/public/img/james.jpg') center/cover;
}